//@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fuzzy+Bubbles:wght@400;700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  border: black solid 4px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  height: 500px;
  background-color: #fae4cd;
  padding-top: 50px;
}

.select {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.title {
  font-family: "Bree Serif";
  font-size: 40px;
  color: black;
}

.form {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.input {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #a5d5d5;
  color: black;
  font-size: 20px;
  font-family: "Bree Serif";
}

.tasks-text {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #f8f0e6;
  color: black;
  font-size: 20px;
  font-family: "Bree Serif";
}

.button {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #a5d5d5;
  color: black;
  font-size: 20px;
  cursor: pointer;
  font-family: "Bree Serif";
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 80px;
}
.task-list {
  color: black;
  font-size: 20px;
  font-family: "Bree Serif";
  list-style: none;
}
/////estilos///
///
///
